<app-unauthenticated-page>
  <div class="sign-up-page">
    <div class="sign-up-form">
      <div class="form-data">
        <div class="email form-group">
          <label for="email">Email</label>
          <input class="form-control" [(ngModel)]="signUpForm.email" name="email"/>
        </div>
        <div class="password form-group">
          <label for="password">Password</label>
          <input class="form-control" [(ngModel)]="signUpForm.password" type="password" name="password"/>
        </div>
        <div class="first-name form-group">
          <label for="firstName">First Name</label>
          <input class="form-control" [(ngModel)]="signUpForm.firstName" name="firstName"/>
        </div>
        <div class="last-name form-group">
          <label for="lastName">Last Name</label>
          <input class="form-control" [(ngModel)]="signUpForm.lastName" name="lastName"/>
        </div>
      </div>
      <div class="form-controls">
        <span>Already have an account?<a routerLink="/sign-in">Sign In</a></span>
        <a>Forgot password?</a>

        <button class="btn btn-primary" (click)="signUp()">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</app-unauthenticated-page>
