<app-unauthenticated-page>
  <div class="forgot-password">
    <form class="forgot-password-form" [formGroup]="forgotPasswordForm">
      <div class="form-data">
        <div class="email form-group">
          <label>Email</label>
          <input class="form-control" autocomplete="email" name="email" formControlName="email">
        </div>
      </div>
      <div class="form-feedback">
      </div>
      <div class="form-controls">
        <span>Don't have an account?<a class="sign-up-link" routerLink="/sign-up">Sign up</a></span>
        <span>Already have an account?<a class="sign-in-link" routerLink="/sign-in">Sign in</a></span>
        <button class="btn btn-primary" type="submit">
          Send password reset email
        </button>
      </div>
    </form>
  </div>
</app-unauthenticated-page>
